/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    /*margin: 0;*/
    /*padding: 0;*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
html, body{
    margin: 0;
    height: 100%;
    background-color: #f8fafc;
}
ul li{
    list-style: none;
}
.wrapper{
    min-height: 100%;
}
.d-flex{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.d-align-center{
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.d-center{
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    /*align-items: center;*/
}
.d-end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
}
.d-between{
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    /*align-items: center;*/
}
.d-flex-wrap{
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.p-1{
    padding: 1em;
}
.p-2{
    padding: 2em;
}
.m-card-list{
    margin: 0.8em 0.6em!important;
}
.mt-06{
    margin-top: 0.6em;
}
.mt-1{
    margin-top: 1em;
}
.mt-3{
    margin-top: 3em;
}
.mt-5{
    margin-top: 5em;
}
.mb-1{
    margin-bottom: 1em;
}
.mb-2{
    margin-bottom: 2%;
}
.mb-3{
    margin-bottom: 3em;
}
.mb-5{
    margin-bottom: 5em!important;
}
.w-22{
    width: 22%;
}
.w-25{
    width: 25%;
}
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-46{
    width: 46%;
}
.w-50{
    width: 50%;
}
.w-55{
    width: 55%;
}
.w-70{
    width: 69%;
}
.w-74{
    width: 74%!important;
}
.w-90{
    width: 90%;
}
.w-95{
    width: 95%;
}
.w-100{
    width: 100%;
}
.w-140{
    width: 140%;
}
.w-160{
    width: 160%;
}
.h-22{
    height: 22em;
}
.h-40{
    height: 40em;
}
.form-block{
    margin-top: 2em;
}
.form-block label{
    display: block;
}
.text-center{
    text-align: center;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.pointer{
    cursor: pointer;
}

/*Переопредиление MenuBar*/
/* TODO:применить стили исключительно для десктоп версии */
.p-menubar-root-list{
    width: 30%;
    position: relative;
    left: 50%;
}
.p-menubar-root-list li.p-menuitem {
    width: 10em;
}
.p-menubar-root-list li.p-menuitem .p-menuitem-content a{
    padding: 0.5em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}
.p-menubar-root-list li.p-menuitem .p-menuitem-content a:hover{
    color: #222;
}
/*Переопределение стилей Quill*/
.ql-toolbar.ql-snow{
    background-color: #fff!important;
    border-radius: 0.4em 0.4em 0% 0%!important;
}
.ql-container.ql-snow{
    background-color: #fff!important;
    height: 320px!important;
    border-radius: 0 0 0.4em 0.4em!important;
}
#tid{
    flex-wrap: wrap;
    width: 25%;
    /*margin: 0 auto;*/
    padding: 2em;

}

.flag{
    width: 1em;
    height: 1em;
    display: block;
    border-radius: 5em;
    position: relative;
    left: 108%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: #5C5C5CFF;
}
#athlete-card button{
    width: 1.8em;
    height: 1.8em;
}

#step-tournament  .p-card-body{
    padding: 1em;
    width: 100%;
    background: #222;
    color: #fff;
    font-weight: 900;
    text-align: center;
}

ul li.item-admin{
    position: relative;
    left: -25%;
    top: -0.3em;
}
ul li.item-admin a{
    position: relative;
    left: 3%;
}
ul li.item-admin i {
    color: #22c55e;
}
.p-icon-field-right>.p-inputtext{
    width: 100%!important;
}
#detail-image img{
    width: 100%;
}
